---
import Layout from '../layouts/Layout.astro';
import '@mediapipe/control_utils_3d/landmark_grid.css'
import '@mediapipe/control_utils/control_utils.css'
---

<script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils_3d/control_utils_3d.js" crossorigin="anonymous" ></script>

<script>
  import complexDemo from '../scripts/complex-demo';

  window.onload = complexDemo;
</script>

<Layout title={'Complex Pose Demo'}>
  <div class="pose-demo-container">
    <video class="input_video"></video>
    <canvas class="output_canvas" width="1280px" height="720px"></canvas>
  </div>
  <div class="control-panel">
  </div>
  <div class='square-box'>
    <div class="landmark-grid-container">
    </div>
  </div>
</Layout>

<style>
body {
  bottom: 0;
  /* font-family: "Titillium Web", sans-serif; */
  color: white;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: 0px 0px;
  overflow: hidden;
}

.pose-demo-container {
  position: absolute;
  background-color: #596e73;
  width: 100%;
  max-height: 100%;
}

.input_video {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.input_video.selfie {
  transform: scale(-1, 1);
}

.input_image {
  position: absolute;
}

.canvas-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.output_canvas {
  width: 100%;
  display: block;
  position: relative;
  left: 0;
  top: 0;
}

.control-panel {
  position: absolute;
  left: 10px;
  top: 10px;
}

.square-box {
  width: 33%;
  height: 0;
  padding-top: 33%;
  position: absolute;
  right: 20px;
  top: 20px;
}

.landmark-grid-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  left:0;
  background-color: #99999999;
}
</style>
