---
import Layout from '../layouts/Layout.astro';
import Dashboard from '../components/dashboard/Dashboard';
import * as user from '../user.json';
---

<Layout title="Dashboard | Just Dance for Everyone">
	<div class="app">
		<main>
			<h1><span class="text-gradient">{user["user"]}'s dashboard.</span></h1>
			<Dashboard client:load />
		</main>
	</div>
</Layout>


<style>
	.app {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		text-align: center;
	}
	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 0.6;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
    text-align: center;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
