---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Just Dance for Everyone">
	<main>
		<h1>Just Dance for <span class="text-gradient">everyone.</span></h1>
		<p class="instructions">
			Right now, this is just a few tech demos :)
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="/beats-me"
				title="Beats Me"
				body="Beat detection with digital signal processing."
			/>
			<Card
				href="/simple-pose"
				title="Simple Pose"
				body="Barebones MediaPipe Pose demo."
			/>
			<Card
				href="/complex-pose"
				title="Complex Pose"
				body="Slightly shinier MediaPipe Pose demo."
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
