---
import Layout from '../layouts/Layout.astro';

---

<script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils_3d/control_utils_3d.js" crossorigin="anonymous" ></script>

<script>
  import simpleDemo from '../scripts/simple-demo';

  window.onload = simpleDemo;
</script>

<Layout title={'Simple Pose Demo'}>
  <div class="container">
    <canvas class="output_canvas" width="1280px" height="720px"></canvas>
    <div id="stats-box">loading...</div>
    <video class="input_video"></video>
  </div>
</Layout>
